* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; 
  grid-template-rows: auto 1fr auto; 
  grid-template-areas:
      "header header header"
      "aside main aside" 
      "footer footer footer"; 
  grid-gap: 10px;
}

.header {
  background-color: red;
  min-height: 10vh;
  min-width: 100vw;

}
.sidebar-left {
  background-color: blue;
  min-height: 80vh;
  min-width: 10vw;
  
}
.main {
  min-height: 80vh;
  min-width: 80vw;
  background-color: aqua;
}
.sidebar-right {
  min-width: 10vh;
  min-height: 80vh;
  background-color: violet;
  
}

.footer {
  min-width: 100vw;
  min-height: 10vh;
  background-color: red;
  min
}