body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
      
}

#titulo {
    display: block;
    float: left;
    transform: translateY(15px);
}

#logo {
    display: block;
    width: 7vw;
    height: 10vh;
    margin-top: 15px;
    float: left;
    
}
#fonte {
    font-size: large;
    float: left;
}
#pesquisa {
    margin-left: 10px;
    width: 530px;
    height: 35px;
    border-radius: 10px;
}

#carrinho {
    margin-left: 1px;
    width: 33px;
    height: 33px;
    transform: translateY(11px);
}
#cadastro {
    margin-left: 5px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color:yellow;
    transform: translateY(80px);
    transform: translateX(910px);
}

#entre {
    margin-left: 5px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: yellow;
    transform: translateY(80px);
    transform: translateX(910px);
    
}

#redes {
    float: right;
    margin-left: 684px;
    transform: translateY(80px);
}

header,footer {
    background-color: darkorange;
    color: black;
    text-align: left;
    padding: 10px;
    width: 100vw;
    height: 25vh;
    clear: both; 
  
}

header nav {
    margin-top: 30px;
    margin-left: 5px;
    float: left;
}

header nav ul li {
    list-style: none;
    display: inline;
}

aside, main {
    height: 60vh;

}

aside {
    background-color: orange;
    padding: auto;
    width: 200px;
    float: left;
}

aside ul li {
    list-style: none;
    margin-top: 30px;
}
#listaesquerda {
    font-style: italic;
    font-size: medium;
}

main {
    width: 1272px;
    background-color: yellow;
    float: left;
   
   
}

section {
    display: block; 
    text-align: justify;
}

#qr {
    float: left;
    margin-left: 60px;

}

#pagamento {
    float: left;
    margin-left: 90px;
}

#sobre {
   float: left;
   margin-left: 90px;
}

#atendimento {
    float: left;
    margin-left: 90px;
}

#contato {
    float: left;
    margin-left: auto
}
#bank {
    margin-left: 5px;
}
#pay {
    margin-left: 17px;

}