body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
      
}

#titulo {
    display: block;
    float: left;
}

#logo {
    display: block;
    width: 10vw;
    height: 15vh;
    float: left;
}

#pesquisa {
    margin-left: 10px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
}

header,footer {
    background-color: darkorange;
    color: black;
    text-align: left;
    padding: 30px;
    width: 100vw;
    height: 20vh;
    clear: both; 
  
}

header nav {
    margin-top: 50px;
    float: left;
}

header nav ul li {
    list-style: none;
    display: inline;
}

aside, main {
    height: 60vh;
}

aside {
    background-color: orange;
    padding: auto;
    width: 20%;
    float: left;
}

aside ul li {
    list-style: none;
    margin-top: 30px;
}

main {
    width: 60%;
    background-color: yellow;
    float: left;
   
   
}

section {
    display: block; 
    text-align: justify;
}